/*Author: Charles Tiriamai*/
/* Tribute Page */
body{
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url('https://images.pexels.com/photos/207586/pexels-photo-207586.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
.wrapper{
  width: 80%;
  margin: 0 auto;
  background-color: rgba(10,150,200,0.9);
  border-radius: 5px;
}
header{  
  width: 95%;
  border-radius: 10px;
  transition: 0.25s all;
  background-color: rgba(0,0,0,0.2);
}
header > h1{
  width: 90%;
  margin: 0px;
  text-align: right;
}
.drone-history{
  padding: 10px;
  text-align: left;
  font-size: 12px;
  background-color: rgba(0,250,2s50, 0.01);
}
.drone-history ul > li > p{
  width: 90%;
}
#photo-h2{
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  color: rgba(250,250,250, 0.5);
}
.photo-background{
  background-color: rgba(0,0,250, 0.2);  
  margin: 0;
}
.drone-history p{
  width: 20%;
  margin: 0 auto;
}
h1{
  width: 10px;
  margin: 0 auto;
  font-weight: 800;
  color: white;
}
.drone-history{
  grid-area: drone-history;
}
.photos{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  padding: 10px;
}
figcaption{
  margin: 10px;
  font-size: 14px;
  width: 220px;
  margin: 10px auto;
}
img{
  width: 100%;
  height: 200px;
  border: 2px solid grey;
  border-radius: 50px;
  transition: 0.25s ease-in;
}
img:hover{
  border: 2px solid white;
  border-radius: 0px;
}

footer{
  grid-area: footer;
  padding: 10px;
  text-align: center;
  background-color: lightskyblue;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  transition: 0.25s ease-in;
}
footer:hover{
  background-color: pink;
}
a{
  text-decoration: none;
  color: black;  
  font-weight: bold;
  animation-name: a-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes a-anim{
  0%{color: black;}
  50%{color: green;}
  100%{color: black;}
}
